n8n/automate-hubspot-to-salesforce-lead-creation-with-explorium-ai-enrichment.json
{
  "name": "HubSpot to Salesforce Lead Creation with Explorium AI Enrichment",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst prospectIds = allItems.map(item => \n  item.json.matched_prospects.map(prospect => prospect.prospect_id)\n).flat();\n\nreturn [{\n  json: {\n    prospect_ids: prospectIds\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        288
      ],
      "id": "0f824fbe-38c5-4dc6-9f2f-49f3309c0a29",
      "name": "Extract Prospect IDs from Matched Results"
    },
    {
      "parameters": {
        "eventsUi": {
          "eventValues": [
            {}
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hubspotTrigger",
      "typeVersion": 1,
      "position": [
        1072,
        288
      ],
      "id": "1abf84ba-5804-4505-bd93-afaedc483a50",
      "name": "HubSpot Trigger",
      "webhookId": "d359fd68-9568-4787-93dd-192be0fda279"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "get",
        "contactId": {
          "__rl": true,
          "value": "={{ $json.contactId }}",
          "mode": "id"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.1,
      "position": [
        1296,
        288
      ],
      "id": "bbaa722f-38fa-425c-a873-d8cd61fe5c7d",
      "name": "HubSpot"
    },
    {
      "parameters": {
        "company": "={{ $json.experience[0].company.name }}",
        "lastname": "={{ $json.full_name }}",
        "additionalFields": {
          "city": "={{ $json.city || null }}",
          "country": "={{ $json.country_name || null }}",
          "email": "={{ $json.professions_email || null }}",
          "mobilePhone": "={{ $json.mobile_phone }}",
          "phone": "={{ $json.phone_numbers?.[0]?.phone_number || \"null\" }}\n",
          "state": "={{ $json.region_name || '' }}",
          "title": "={{ $json.experience?.[0]?.title?.name || null }}",
          "website": "={{ $json.experience?.[0]?.company?.website || null }}"
        }
      },
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        2640,
        288
      ],
      "id": "a403dba4-f8c2-46e3-a0f2-9916866c2e13",
      "name": "Salesforce"
    },
    {
      "parameters": {
        "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  if (item.json.enriched_data && item.json.enriched_data.length > 0) {\n    items.push({\n      json: {\n        prospect_id: item.json.enriched_data[0].prospect_id,\n        ...item.json.enriched_data[0].data\n      }\n    });\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2416,
        288
      ],
      "id": "aadc0691-8a91-49a6-abf2-1f5489fb3b9d",
      "name": "Code - flatten"
    },
    {
      "parameters": {
        "content": "# Automatically enrich prospect data from HubSpot using Explorium and create leads in Salesforce\n\nThis n8n workflow streamlines the process of enriching prospect information by automatically pulling data from HubSpot, processing it through Explorium's AI-powered tools, and creating new leads in Salesforce with enhanced prospect details.\n\n## Credentials Required\n\nTo use this workflow, set up the following credentials in your n8n environment:\n\n### HubSpot\n- **Type**: App Token (or OAuth2 for broader compatibility)\n- **Used for**: triggering on new contacts, fetching contact data\n\n### Explorium API\n- **Type**: Generic Header Auth\n- **Header**: Authorization\n- **Value**: Bearer YOUR_API_KEY\n\n### Salesforce\n- **Type**: OAuth2 or Username/Password\n- **Used for**: creating new lead records\n\nGo to Settings → Credentials, create these three credentials, and assign them in the respective nodes before running the workflow.\n\n## Workflow Overview\n\n### Node 1: HubSpot Trigger\nThis node listens for real-time events from the connected HubSpot account. Once triggered, the node passes metadata about the event to the next step in the flow.\n\n### Node 2: HubSpot\nThis node fetches contact details from HubSpot after the trigger event.\n\n- **Credential**: Connected using a HubSpot App Token\n- **Resource**: Contact\n- **Operation**: Get Contact\n- **Return All**: Disabled\n\nThis node retrieves the full contact details needed for further processing and enrichment.\n\n### Node 3: Match prospect\nThis node sends each contact's data to Explorium's AI-powered prospect matching API in real time.\n\n- **Method**: POST\n- **Endpoint**: https://api.explorium.ai/v1/prospects/match\n- **Authentication**: Generic Header Auth (using a configured credential)\n- **Headers**: Content-Type: application/json\n\nThe request body is dynamically built from contact data, typically including: full_name, company_name, email, phone_number, linkedin. These fields are matched against Explorium's intelligence graph to return enriched or validated profiles.\n\n**Response Output**: total_matches, matched_prospects, and a prospect_id. Each response is used downstream to enrich, validate, or create lead information.\n\n### Node 4: Filter\nThis node filters the output from the Match prospect step to ensure that only valid, matched results continue in the flow. Only records that contain at least one matched prospect with a non-null prospect_id are passed forward.\n\n**Status**: Currently deactivated (as shown by the \"Deactivate\" label)\n\n### Node 5: Extract Prospect IDs from Matched Results\nThis node extracts all valid prospect_id values from previously matched prospects and compiles them into a flat array. It loops over all matched items, extracts each prospect_id from the matched_prospects array and returns a single object with an array of all prospect_ids.\n\n### Node 6: Explorium Enrich Contacts Information\nThis node performs bulk enrichment of contacts by querying Explorium with a list of matched prospect_ids.\n\n**Node Configuration:**\n- **Method**: POST\n- **Endpoint**: https://api.explorium.ai/v1/prospects/contacts_information/bulk_enrich\n- **Authentication**: Header Auth (using saved credentials)\n- **Headers**: \"Content-Type\": \"application/json\", \"Accept\": \"application/json\"\n\nReturns enriched contact information, such as:\n- **emails**: professional/personal email addresses\n- **phone_numbers**: mobile and work numbers\n- **professions_email**, **professional_email_status**, **mobile_phone**\n\n### Node 7: Explorium Enrich Profiles\nThis additional enrichment node provides supplementary contact data enhancement, running in parallel with the primary enrichment process.\n\n### Node 8: Merge\nThis node combines multiple data streams from the parallel enrichment processes into a single output, allowing you to consolidate data from different Explorium enrichment endpoints. The \"combine\" setting indicates it will merge the incoming data streams rather than overwriting them.\n\n### Node 9: Code - flatten\nThis custom code node processes and transforms the merged enrichment data before creating the Salesforce lead. It can be used to:\n- Flatten nested data structures\n- Format data according to Salesforce field requirements\n- Apply business logic or data validation\n- Map Explorium fields to Salesforce lead properties\n- Handle data type conversions\n\n### Node 10: Salesforce\nThis final node creates new leads in Salesforce using the enriched data returned by Explorium.\n\n- **Credential**: Salesforce OAuth2 or Username/Password\n- **Resource**: Lead\n- **Operation**: Create Lead\n\nThe node creates new lead records with enriched information including contact details, company information, and professional data obtained through the Explorium enrichment process.\n\n## Workflow Flow Summary\n\n1. **Trigger**: HubSpot webhook triggers on new/updated contacts\n2. **Fetch**: Retrieve contact details from HubSpot\n3. **Match**: Find prospect matches using Explorium\n4. **Filter**: Keep only successfully matched prospects (currently deactivated)\n5. **Extract**: Compile prospect IDs for bulk enrichment\n6. **Enrich**: Parallel enrichment of contact information through multiple Explorium endpoints\n7. **Merge**: Combine enrichment results\n8. **Transform**: Flatten and prepare data for Salesforce (Code node)\n9. **Create**: Create new lead records in Salesforce\n\nThis workflow ensures comprehensive data enrichment while maintaining data quality and providing a seamless integration between HubSpot prospect data and Salesforce lead creation. The parallel enrichment structure maximizes data collection efficiency before creating high-quality leads in your CRM system.",
        "height": 2800,
        "width": 960
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b9cd8c39-8d3d-4daf-ab6d-ef892c908490",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6896e951-8d66-41b1-87a5-a96d2e049675",
              "leftValue": "={{ $json.matched_prospects.some(prospect => prospect.prospect_id !== null).toBoolean() }}",
              "rightValue": "null",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1744,
        288
      ],
      "id": "138c5a4f-b21f-48e9-94df-f97736435168",
      "name": "Filter - non matched"
    },
    {
      "parameters": {
        "operation": "match",
        "type": "prospects",
        "prospects_to_match": {
          "prospects_to_match": [
            {
              "email": "={{ $json['identity-profiles'][0].identities.find(id => id.type === 'EMAIL').value }}",
              "full_name": "="
            }
          ]
        }
      },
      "type": "@exploriumai/n8n-nodes-explorium-ai.exploriumApiNode",
      "typeVersion": 1,
      "position": [
        1520,
        288
      ],
      "id": "a62f780e-6a72-498e-a50d-7d5a31561f63",
      "name": "Match Prospects",
      "credentials": {
        "exploriumApi": {}
      }
    },
    {
      "parameters": {
        "operation": "enrich",
        "type": "prospects",
        "enrichment": [
          "contacts",
          "profiles"
        ],
        "useJsonInput": true,
        "jsonInput": "={{ { \"prospect_ids\": $json.prospect_ids } }}"
      },
      "type": "@exploriumai/n8n-nodes-explorium-ai.exploriumApiNode",
      "typeVersion": 1,
      "position": [
        2192,
        288
      ],
      "id": "7d7d37df-959d-490c-9150-14a8a701563e",
      "name": "Enrich Prospects",
      "credentials": {
        "exploriumApi": {}
      }
    }
  ],
  "pinData": {
    "HubSpot Trigger": [
      {
        "json": {
          "eventId": 1839742373,
          "subscriptionId": 4658783,
          "portalId": 21630158,
          "appId": 13315307,
          "occurredAt": 1763032205701,
          "subscriptionType": "contact.creation",
          "attemptNumber": 0,
          "changeFlag": "CREATED",
          "changeSource": "CRM_UI",
          "sourceId": "userId:48029550",
          "contactId": 174673307541
        }
      }
    ]
  },
  "connections": {
    "Extract Prospect IDs from Matched Results": {
      "main": [
        [
          {
            "node": "Enrich Prospects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot Trigger": {
      "main": [
        [
          {
            "node": "HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot": {
      "main": [
        [
          {
            "node": "Match Prospects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - flatten": {
      "main": [
        [
          {
            "node": "Salesforce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - non matched": {
      "main": [
        [
          {
            "node": "Extract Prospect IDs from Matched Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Prospects": {
      "main": [
        [
          {
            "node": "Filter - non matched",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Prospects": {
      "main": [
        [
          {
            "node": "Code - flatten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "instanceId": "0a70652f43c1b29dd16c35b61a38fd31c8004f58bc7e723bf43262a797407c77"
  },
  "id": "PLHHBno91TpLuxJXX6QS8",
  "tags": []
}